body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

h1{
    margin: 0;
    padding: 22px 0 22px 0;
    font-size: xx-large;
}

h2{
    margin: 0;
    padding: 20px 0 20px 0;
}

p{
    margin: 0;
    padding: 0 0 16px 0;
    text-align: justify;
}

@media only screen and (min-width: 1000px) {

    .partie-texte{
        width: 50vw;
    }

    .epoque{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /*
        HEADER
    */
    #header{
        background-color: burlywood;
        height: 100vh;
        display: grid;
        grid-template-columns: 40% 60%;
    }

    #header-partie-texte{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #header-intro{
        width: 75%;
        font-size: large;
    }

    #header-partie-image{
        background-image: url(https://cdn.discordapp.com/attachments/949179397880041493/969101227155664896/banderole_papier_toilette.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;

    }

    #header-partie-texte{
        background-image: url(https://cdn.discordapp.com/attachments/949179397880041493/969100960188223518/Fond_papier_rose.jpg);
        background-attachment: fixed;
    }

    /*
        SECTION HISTOIRE
    */
    #histoire img{
        width: 20%;
        align-self: center;
    }

    #histoire-intro{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #histoire-a-nos-jours-partie-image{
        width: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #histoire-a-nos-jours-partie-image img{
        width: 100%;
    }

    
    button{
        background-color: whitesmoke;
        border: 2px double black;
        color: black;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        margin: 5px;
        flex-flow: row wrap;
    }

    #btn-histoire-antiquite,#btn-histoire-moyen-age,#btn-histoire-a-nos-jours{
        flex: 1 1 auto;
    }
    /*
        SECTION ECOLOGIE
    */
    #ecologie-au-bout-du-rouleau{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #ecologie-au-bout-du-rouleau img{
        width: 20%;
        align-self: center;
    }

    #alternatives-possibles{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #alternatives-possibles img{
        width: 20%;
        align-self: center;
    }
}

@media only screen and (max-width: 1000px) {

    .partie-texte{
        width: 85vw;
    }

    .image{
        width: 50vw;
    }

    .epoque{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .epoque img{
        align-self: center;
    }

    #histoire-intro-partie-texte img, #histoire-a-nos-jours-partie-texte img, #ecologie img{
        margin-left: 25%;
    }
    
    /*
        HISTOIRE
    */
    #histoire{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /*
        ECOLOGIE
    */
    #ecologie{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}